<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br />
    <%= f.text_field :total_amount %>
  </div>
  <div class="field">
    <%= f.label :sale_time %><br />
    <%= f.datetime_select :sale_time %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :sale_count %><br />
    <%= f.number_field :sale_count %>
  </div>
  <div class="field">
    <%= f.label :sku_count %><br />
    <%= f.number_field :sku_count %>
  </div>
  <div class="field">
    <%= f.label :receiver_name %><br />
    <%= f.text_field :receiver_name %>
  </div>
  <div class="field">
    <%= f.label :receiver_state %><br />
    <%= f.text_field :receiver_state %>
  </div>
  <div class="field">
    <%= f.label :receiver_city %><br />
    <%= f.text_field :receiver_city %>
  </div>
  <div class="field">
    <%= f.label :receiver_district %><br />
    <%= f.text_field :receiver_district %>
  </div>
  <div class="field">
    <%= f.label :receiver_zip %><br />
    <%= f.text_field :receiver_zip %>
  </div>
  <div class="field">
    <%= f.label :receiver_address %><br />
    <%= f.text_field :receiver_address %>
  </div>
  <div class="field">
    <%= f.label :is_receiver_info_complete %><br />
    <%= f.check_box :is_receiver_info_complete %>
  </div>
  <div class="field">
    <%= f.label :outer_iid %><br />
    <%= f.text_field :outer_iid %>
  </div>
  <div class="field">
    <%= f.label :buyer_memo %><br />
    <%= f.text_area :buyer_memo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
