<p>
  <b>Name:</b>
  <%= @product_outer_mapping.product.name if not @product_outer_mapping.product.nil? %>
</p>

<p>
  <b>Outer Sku:</b>
  <%= @product_outer_mapping.outer_sku %>
</p>

<p>
  <b>Inner Sku:</b>
  <%= @product_outer_mapping.product.sku if not @product_outer_mapping.product.nil?%>
</p>

<p>
  <b>Sales Channel</b>
  <%= @product_outer_mapping.sales_channel_api.sales_channel.name if not @product_outer_mapping.sales_channel_api.nil? %>
</p>

<p>
  <b>Sales Channel Api</b>
  <%= @product_outer_mapping.sales_channel_api.name if not @product_outer_mapping.sales_channel_api.nil? %>
</p>

<%= link_to 'Edit', edit_product_outer_mapping_path(@product_outer_mapping) %> |
<%= link_to 'Back', product_outer_mappings_path %>
