<h1>Listing activities</h1>

<table>
  <tr>
    <th>Increment</th>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Order count</th>
    <th>Sale count</th>
    <th>Sales channels</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.increment_id %></td>
    <td><%= activity.name %></td>
    <td><%= activity.start_time %></td>
    <td><%= activity.end_time %></td>
    <td><%= activity.order_count %></td>
    <td><%= activity.sale_count %></td>
    <td><%= activity.sales_channel.name %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
